{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% load static %}

{% block content %}
    <br>
          <div class="container" style="background-color:#E4E6E8; padding:1rem 1rem;"  >
              <h3  style="text-align: center;">Training and Placement Unit</h3><hr>
              <p>Training and Placement Unit is a facilitation unit which is responsible for interacting
                  with various industrial, management and research organisations in the country and
                  abroad with the dual aim of ensuring that the students are given adequate technical
                  exposure / industrial training from 2nd year onwards (B.Tech & Dual) and also enabling
                  them to get employment in organisations whose functional requirements of high calibre
                  engineers, scientists and managers are best met by graduate and post-graduate students
                  of the Institute.<br>
                  The major functions of this unit are:<br></p>
              <ul>
                  <li>To arrange practical summer training of B.Tech & Dual Degree after 2nd year in partial
                      fulfilment of their degree requirements by coordinating with various companies,industries
                      etc to provide relevant projects.</li>
                  <li>To invite industries and organisations of repute with the aim of providing employment to
                      students and assisting them in the placement process on IIIT Una campus.</li>
                  <li>To organise lectures and workshops for students to provide supplemental information on career
                      counselling, interview techniques, soft skills development and introduction to industrial sectors
                      the professional world.</li>
              </ul>
              </div>
          <br/><br/>

{% endblock %}
