{% extends 'layouts/default/page.html' %}

{% load static %}

{% load i18n %}

{% block content %}

<section id="about" class="section-bg" xmlns:text-align="http://www.w3.org/1999/xhtml">
        <div class="container-fluid wow fadeInLeft">

            <div class="section-header">
                <span class="section-divider"></span>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="procedure-tab" data-toggle="tab" href="#procedure" role="tab" aria-controls="procedure" aria-selected="true">Placement Procedure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="recruiter-tab" data-toggle="tab" href="#recruiter" role="tab" aria-controls="recruiter" aria-selected="false">Past Recruiters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="facilities-tab" data-toggle="tab" href="#facilities" role="tab" aria-controls="facilities" aria-selected="false">Facilities for Recruites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="record-tab" data-toggle="tab" href="#record" role="tab" aria-controls="record" aria-selected="false">Placement Records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="forms-tab" data-toggle="tab" href="#forms" role="tab" aria-controls="forms" aria-selected="false">Forms</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="procedure" role="tabpanel" aria-labelledby="about-tab" style="background-color:#E4E6E8; padding:0.5rem 0.5rem;">
                    <br><h3 style="text-align: center;"><b>Placement Procedure</b></h3><hr>
                    <div >
            <div class="container" >
                <h3 style="text-align: center;">Placement Rules and Regulation</h3><hr><br>
                <h4>A. ELIGIBILITY AND REGISTRATION</h4>
                <p >
                <ul>
                    <li>All students who expect to graduate from the Institute by the end of the academic year 2018-19 and are
                        seeking employment may register for campus placements with this office. Placement Registration is for ONE ACADEMIC YEAR ONLY.
                    </li>
                    <li>
                        Registration for all programmes will be done during the month of August.
                    </li>
                    <li>Campus placement is a facility provided for the students. Registration is not compulsory.
                        Students not interested in placement are advised not to register for placement.</li>
                    <li><b>Backlogs:</b> Students having backlog of 4 or more courses are not permitted to register for placement.
                        Such students are advised to clear the backlogs and then register after the July-November end semester
                        examinations. However, extended students can register in case of non-completion of course/project requirements in their last two semesters.
                    </li>
                    <li>RE-REGISTRATION: Students who have lost the job for genuine reasons will be allowed to re-register on a case to case basis.
                    </li>
                    Students who have graduated in 2018, but not placed due to various genuine reasons, may be permitted to re-register with the approval
                    of the concerned authorities. They will be permitted to appear for placement only from Day 3 or later, as approved by the Board of Placements.
                    <li>Each registered student will be given a Placement Registration (PR) Number to access the placement notices, company announcements and to upload resumes.</li>
                                    </ul>
                    <h4>B. RESUME   </h4>
                    <ul>
                    <li>Students are advised to read the announcements made, go through the  website and apply only if interested.</li>
                    <li>Students are expected to follow the institute resume template available in the placement website for preparing the resumes.</li>
                    <li>The details given in the resume have to be genuine and any student found violating this rule will be disallowed from the placement for the rest of the academic year.
                    </li>
                    <li>Students have to upload and submit their resumes on the website to individual companies well before the deadline.
                        Resume once submitted cannot be modified.<b> DEADLINES WILL NOT BE EXTENDED UNDER ANY CIRCUMSTANCE.</b></li>
                    <li>Students are advised to avoid last minute uploading, as it may lead to delays and some may even be left out.
                    </li>
                    </ul>
                    <h4>C. PRE-PLACEMENT TALKS</h4>
                    <ul>
                    <li>	Notices of the PPT will be published in the placement website well in advance. Students should be seated in the venue 15 minutes before the scheduled start of the PPT.</li>
                    <li>Students interested in a particular company, can attend its PPT. Attendance for PPT is not compulsory.</li>
                    <li>Students must go through the <b> complete selection process </b>of a particular company, once their resumes are uploaded</li>
                    <li>Any clarification regarding salary break-up, job profile, place of work, bond details etc. must be sought from the companies during PPT or interview.
                    </li>
                    <li><u>DRESS CODE</u>: Students<b> must be formally dressed </b>whenever they participate in any interaction with a company</li>
                    </ul>
                    <h4>D. PLACEMENT PROCESS</h4>
                    <ul>
                    <li>	It is the responsibility of the student to check announcements / notices / updated information / shortlisted names etc. in the notice boards of Placement Website. Students are expected to be punctual. </li>
                    <li>A student who applies and gets shortlisted is bound to go through the entire selection process unless rejected midway by the company.
                        Any student who withdraws deliberately in the middle of a selection process will be disallowed from placement for the rest of the academic year.</li>
                    <li><b>LATE COMERS FOR APTITUDE TEST / GD / INTERVIEW </b>may not be allowed to appear for the selection process</li>
                    <li> Students should maintain discipline and show ethical behaviour in every action they take during the placement process. Any student found violating the
                        discipline rules set by the company or defaming the institute's name will be disallowed from the placements for the rest of the academic year. </li>
                    <li> Students found cheating or misbehaving in the selection process (Test / GD / Interview) will be disallowed from the placements for the rest of the academic year.
                    </li>
                </ul>
                </p>
            </div>
        </div>
        <br/><br/>
                </div>

                <div class="tab-pane fade show" id="recruiter" role="tabpanel" aria-labelledby="recruiter-tab" style="background-color:#E4E6E8; padding:0.5rem 0.5rem;">
                    <br>
                    <h3 style="text-align: center;"><b>Past Recuiters at IIIT Una</b></h3><hr>

                </div>
                <div class="tab-pane fade show " id="facilities" role="tabpanel" aria-labelledby="facilities-tab" style="background-color:#E4E6E8; padding:0.5rem 0.5rem;">
                    <br>
                    <h3 style="text-align: center;"><b>Facilities provided at IIIT Una</b></h3><hr>
                    <img src="{% static 'images/facilities.png' %}" width=100%>
                </div>
                <div class="tab-pane fade show" id="record" role="tabpanel" aria-labelledby="record-tab" style="background-color:#E4E6E8; padding:0.5rem 0.5rem;">
                    <br>
                    <h3 style="text-align: center;"><b>Our Placement Records</b></h3><hr>
                    <p>
                        Placement Records of <a href="#">Year 2018</a><br>
                        Placement Records of <a href="#">Year 2017</a><br>
                        Placement Records of <a href="#">Year 2016</a><br>
                    </p>
                </div>
                <div class="tab-pane fade show" id="forms" role="tabpanel" aria-labelledby="forms-tab" style="background-color:#E4E6E8; padding:0.5rem 0.5rem;">
                    <br>
                    <h3 style="text-align: center;"><b>Forms and Invitations</b></h3><hr>
                    <ol>
                        <li>Get the <a href="#">Job Notification Form</a></li>
                        <li>Get the <a href="#">invitation Letter</a></li>
                    </ol>
                </div>
            </div>
        </div>
</section>

<!--<section id="clients">-->
    <!--<script src="{% static 'vender/jquery/jquery-3.3.1.min.js' %}"></script>-->
<!--<hr><center><h2>Present Recruiters</h2></center><hr>-->

    <!--<div class="row wow fadeInRight">-->
        <!--<script type="text/javascript">-->
            <!--$('#imgs').imageScroll({-->
                <!--orientation: "left",-->
                <!--speed: 400,-->
                <!--interval: 1200,-->
                <!--hoverPause: false,-->
            <!--});-->
        <!--</script>-->

    <!--</div>-->
<!--</section>-->

{% endblock %}
