{% extends 'layouts/default/page.html' %}

{% load static %}

{% load i18n %}

{% block content %}
    <h3 style="text-align: center;">Faculties</h3><hr>
    <div class="row">
        <div class="col-4 text-center " style="display: inline-block;">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div>
        <div class="col-4 text-center" style="display: inline-block">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div>
        <div class="col-4 text-center" style="display: inline-block">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div>
        <div class="col-4 text-center" style="display: inline-block">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div>
    </div>
        <hr><h3 style="text-align: center;">TPRs</h3><hr>
    <div class="row">
        <div class="col-4 text-center" style="display: inline-block">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div><div class="col-4 text-center" style="display: inline-block">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div><div class="col-4 text-center" style="display: inline-block">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div>
        <div class="col-4 text-center" style="display: inline-block">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div><div class="col-4 text-center" style="display: inline-block">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div><div class="col-4 text-center" style="display: inline-block">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div><div class="col-4 text-center" style="display: inline-block">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div><div class="col-4 text-center" style="display: inline-block">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div><div class="col-4 text-center" style="display: inline-block">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div>
        <div class="col-4 text-center" style="display: inline-block">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div><div class="col-4 text-center" style="display: inline-block">
            <img src="{% static 'images/profile_pic.png' %}" width="100%">
            <h4><b>Person's name</b></h4>
            <h5>Designation</h5>
            <h6>email : </h6>
            <h6>contact-no. :</h6>
        </div>
    </div>
{% endblock %}
